Exercise1-Services-Client/src/wsdl/localhost_8080/Exercise1/MapGroupGenerator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/" name="MapGroupGenerator">
<types>
<xsd:schema>
<xsd:import namespace="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/" schemaLocation="http://localhost:8080/Exercise1/MapGroupGenerator?xsd=1"/>
</xsd:schema>
</types>
<message name="getBounds">
<part name="parameters" element="tns:getBounds"/>
</message>
<message name="getBoundsResponse">
<part name="parameters" element="tns:getBoundsResponse"/>
</message>
<message name="getShopIdsInQuadrant">
<part name="parameters" element="tns:getShopIdsInQuadrant"/>
</message>
<message name="getShopIdsInQuadrantResponse">
<part name="parameters" element="tns:getShopIdsInQuadrantResponse"/>
</message>
<message name="getPublicURLMapNeighbors">
<part name="parameters" element="tns:getPublicURLMapNeighbors"/>
</message>
<message name="getPublicURLMapNeighborsResponse">
<part name="parameters" element="tns:getPublicURLMapNeighborsResponse"/>
</message>
<message name="getLatLng">
<part name="parameters" element="tns:getLatLng"/>
</message>
<message name="getLatLngResponse">
<part name="parameters" element="tns:getLatLngResponse"/>
</message>
<portType name="MapGroupGenerator">
<operation name="getBounds">
<input wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getBoundsRequest" message="tns:getBounds"/>
<output wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getBoundsResponse" message="tns:getBoundsResponse"/>
</operation>
<operation name="getShopIdsInQuadrant">
<input wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getShopIdsInQuadrantRequest" message="tns:getShopIdsInQuadrant"/>
<output wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getShopIdsInQuadrantResponse" message="tns:getShopIdsInQuadrantResponse"/>
</operation>
<operation name="getPublicURLMapNeighbors">
<input wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getPublicURLMapNeighborsRequest" message="tns:getPublicURLMapNeighbors"/>
<output wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getPublicURLMapNeighborsResponse" message="tns:getPublicURLMapNeighborsResponse"/>
</operation>
<operation name="getLatLng">
<input wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getLatLngRequest" message="tns:getLatLng"/>
<output wsam:Action="http://services.exercise1.lab12.webprogramming.aa1718.unitn.it/MapGroupGenerator/getLatLngResponse" message="tns:getLatLngResponse"/>
</operation>
</portType>
<binding name="MapGroupGeneratorPortBinding" type="tns:MapGroupGenerator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShopIdsInQuadrant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPublicURLMapNeighbors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLatLng">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MapGroupGenerator">
<port name="MapGroupGeneratorPort" binding="tns:MapGroupGeneratorPortBinding">
<soap:address location="http://localhost:8080/Exercise1/MapGroupGenerator"/>
</port>
</service>
</definitions>